.search{
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 5px;
    width: 200px;
    line-height: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    border-radius: 3px;
}